
include AUTHORS.rst

include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt

include riboraptor/annotation
include riboraptor/annotation/hg38
recursive-include riboraptor/annotation *
recursive-include riboraptor/annotation *.bed.gz *.sizes
recursive-include riboraptor/annotation/hg38 *.bed.gz *.sizes
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
